openapi: 3.1.0
info:
  title: VUM API Vacatures tussen VUM-UV en bronnen
  description: Contract tbv interactie van bronnen met VUM uitwisselingsvoorziening
    voor Vacatures
  contact:
    name: Helpdesk
    url: https://www.matchingsgegevens.nl
    email: programma-vum@ictu.nl
  version: 2.0.0
servers:
- url: https://bron.vumdevelopment.nl/api/v2
  description: Testbron
paths:
  /vacatures/matches:
    post:
      summary: Zoekopdracht voor Vacatures
      description: Zoekopdracht om Vacature matches op te vragen
      operationId: MatchesVacatures
      parameters:
      - $ref: '#/components/parameters/vum_bericht_versie'
      - $ref: '#/components/parameters/vum_from_party'
      - $ref: '#/components/parameters/vum_to_party'
      - $ref: '#/components/parameters/vum_via_party'
      - $ref: '#/components/parameters/vum_suwi_party'
      - $ref: '#/components/parameters/api_version'
      requestBody:
        $ref: '#/components/requestBodies/VacatureMatchesRequest'
      responses:
        '200':
          description: OK
          headers:
            X-VUM-berichtVersie:
              $ref: '#/components/headers/vum_bericht_versie'
            X-VUM-fromParty:
              $ref: '#/components/headers/vum_from_party'
            X-VUM-toParty:
              $ref: '#/components/headers/vum_to_party'
            X-VUM-viaParty:
              $ref: '#/components/headers/vum_via_party'
            API-Version:
              $ref: '#/components/headers/api_version'
          content:
            application/json:
              schema:
                required:
                - maximumAantalResultatenBereikt
                - matches
                type: object
                properties:
                  maximumAantalResultatenBereikt:
                    type: boolean
                    description: Geeft aan of bron meer matches zou kunnen leveren
                      dan de teruggeleverde set. Bronnen mogen per zoekvraag een maximum
                      aantal (standaard 100) resultaten leveren
                  matches:
                    $ref: '#/components/schemas/VacatureMatchingProfielen'
        '400':
          description: Bad request
          headers:
            X-VUM-berichtVersie:
              $ref: '#/components/headers/vum_bericht_versie'
            X-VUM-fromParty:
              $ref: '#/components/headers/vum_from_party'
            X-VUM-toParty:
              $ref: '#/components/headers/vum_to_party'
            X-VUM-viaParty:
              $ref: '#/components/headers/vum_via_party'
            API-Version:
              $ref: '#/components/headers/api_version'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: not authorized
          headers:
            X-VUM-berichtVersie:
              $ref: '#/components/headers/vum_bericht_versie'
            X-VUM-fromParty:
              $ref: '#/components/headers/vum_from_party'
            X-VUM-toParty:
              $ref: '#/components/headers/vum_to_party'
            X-VUM-viaParty:
              $ref: '#/components/headers/vum_via_party'
            API-Version:
              $ref: '#/components/headers/api_version'
        '429':
          description: Too Many Requests
          headers:
            X-VUM-berichtVersie:
              $ref: '#/components/headers/vum_bericht_versie'
            X-VUM-fromParty:
              $ref: '#/components/headers/vum_from_party'
            X-VUM-toParty:
              $ref: '#/components/headers/vum_to_party'
            X-VUM-viaParty:
              $ref: '#/components/headers/vum_via_party'
            API-Version:
              $ref: '#/components/headers/api_version'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Internal Server Error
          headers:
            X-VUM-berichtVersie:
              $ref: '#/components/headers/vum_bericht_versie'
            X-VUM-fromParty:
              $ref: '#/components/headers/vum_from_party'
            X-VUM-toParty:
              $ref: '#/components/headers/vum_to_party'
            X-VUM-viaParty:
              $ref: '#/components/headers/vum_via_party'
            API-Version:
              $ref: '#/components/headers/api_version'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '503':
          description: Service Unavailable
          headers:
            X-VUM-berichtVersie:
              $ref: '#/components/headers/vum_bericht_versie'
            X-VUM-fromParty:
              $ref: '#/components/headers/vum_from_party'
            X-VUM-toParty:
              $ref: '#/components/headers/vum_to_party'
            X-VUM-viaParty:
              $ref: '#/components/headers/vum_via_party'
            API-Version:
              $ref: '#/components/headers/api_version'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /vacatures/{idVacature}:
    get:
      summary: Vraag volledige vacature op bij opgegeven idVacature
      description: Vraag volledige vacature op bij een opgegeven idVacature
      operationId: getVacature
      parameters:
      - name: idVacature
        in: path
        required: true
        style: simple
        explode: false
        schema:
          $ref: '#/components/schemas/IDVacature'
      - $ref: '#/components/parameters/vum_bericht_versie'
      - $ref: '#/components/parameters/vum_from_party'
      - $ref: '#/components/parameters/vum_to_party'
      - $ref: '#/components/parameters/vum_via_party'
      - $ref: '#/components/parameters/vum_suwi_party'
      - $ref: '#/components/parameters/api_version'
      responses:
        '200':
          description: OK
          headers:
            X-VUM-berichtVersie:
              $ref: '#/components/headers/vum_bericht_versie'
            X-VUM-fromParty:
              $ref: '#/components/headers/vum_from_party'
            X-VUM-toParty:
              $ref: '#/components/headers/vum_to_party'
            X-VUM-viaParty:
              $ref: '#/components/headers/vum_via_party'
            API-Version:
              $ref: '#/components/headers/api_version'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Vacature'
        '400':
          description: Bad request
          headers:
            X-VUM-berichtVersie:
              $ref: '#/components/headers/vum_bericht_versie'
            X-VUM-fromParty:
              $ref: '#/components/headers/vum_from_party'
            X-VUM-toParty:
              $ref: '#/components/headers/vum_to_party'
            X-VUM-viaParty:
              $ref: '#/components/headers/vum_via_party'
            API-Version:
              $ref: '#/components/headers/api_version'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: not authorized
          headers:
            X-VUM-berichtVersie:
              $ref: '#/components/headers/vum_bericht_versie'
            X-VUM-fromParty:
              $ref: '#/components/headers/vum_from_party'
            X-VUM-toParty:
              $ref: '#/components/headers/vum_to_party'
            X-VUM-viaParty:
              $ref: '#/components/headers/vum_via_party'
            API-Version:
              $ref: '#/components/headers/api_version'
        '429':
          description: Too Many Requests, limiet is overschreden voor deze uitvraag
          headers:
            X-VUM-berichtVersie:
              $ref: '#/components/headers/vum_bericht_versie'
            X-VUM-fromParty:
              $ref: '#/components/headers/vum_from_party'
            X-VUM-toParty:
              $ref: '#/components/headers/vum_to_party'
            X-VUM-viaParty:
              $ref: '#/components/headers/vum_via_party'
            API-Version:
              $ref: '#/components/headers/api_version'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Internal Server Error
          headers:
            X-VUM-berichtVersie:
              $ref: '#/components/headers/vum_bericht_versie'
            X-VUM-fromParty:
              $ref: '#/components/headers/vum_from_party'
            X-VUM-toParty:
              $ref: '#/components/headers/vum_to_party'
            X-VUM-viaParty:
              $ref: '#/components/headers/vum_via_party'
            API-Version:
              $ref: '#/components/headers/api_version'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '503':
          description: Service Unavailable
          headers:
            X-VUM-berichtVersie:
              $ref: '#/components/headers/vum_bericht_versie'
            X-VUM-fromParty:
              $ref: '#/components/headers/vum_from_party'
            X-VUM-toParty:
              $ref: '#/components/headers/vum_to_party'
            X-VUM-viaParty:
              $ref: '#/components/headers/vum_via_party'
            API-Version:
              $ref: '#/components/headers/api_version'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
components:
  parameters:
    vum_bericht_versie:
      in: header
      name: X-VUM-berichtVersie
      schema:
        type: string
        const: 2.0.0
      required: true
    vum_from_party:
      in: header
      name: X-VUM-fromParty
      schema:
        type: string
      required: true
    vum_to_party:
      in: header
      name: X-VUM-toParty
      schema:
        type: string
      required: true
    vum_via_party:
      in: header
      name: X-VUM-viaParty
      schema:
        type: string
      required: true
    vum_suwi_party:
      in: header
      name: X-VUM-SUWIparty
      schema:
        type: boolean
      required: true
    api_version:
      in: header
      name: API-Version
      schema:
        type: string
        enum:
        - 2.0.0
      required: true
  headers:
    vum_bericht_versie:
      schema:
        type: string
        const: 2.0.0
    vum_from_party:
      schema:
        type: string
    vum_to_party:
      schema:
        type: string
    vum_via_party:
      schema:
        type: string
    api_version:
      schema:
        type: string
        enum:
        - 2.0.0
  schemas:
    IDVacature:
      $ref: '#/components/schemas/String200'
    VacatureMatchingProfielen:
      type: array
      items:
        $ref: '#/components/schemas/MPVacatureMatch'
    MPVacatureMatch:
      type: object
      additionalProperties: false
      properties:
        idVacature:
          $ref: '#/components/schemas/IDVacature'
        codeWerkEnDenkniveauMinimaal:
          type: string
          enum:
          - '0'
          - '1'
          - '2'
          - '3'
          - '4'
          - '5'
          - '6'
          - '7'
        indicatieLdrRegistratie:
          type: integer
          enum:
          - 1
          - 2
        sluitingsdatumVacature:
          $ref: '#/components/schemas/Date'
        sollicitatiewijze:
          type: array
          items:
            $ref: '#/components/schemas/MPSollicitatiewijze'
        werkgever:
          $ref: '#/components/schemas/MPWerkgever'
        sector:
          $ref: '#/components/schemas/SectorBeroepsEnBedrijfsleven'
        arbeidsVoorwaarden:
          $ref: '#/components/schemas/MPArbeidsVoorwaarden'
        contractvorm:
          type: array
          items:
            $ref: '#/components/schemas/Contractvorm'
        beroep:
          $ref: '#/components/schemas/Beroepsnaam'
        werkervaring:
          type: array
          items:
            $ref: '#/components/schemas/Werkervaring'
        rijbewijs:
          type: array
          items:
            $ref: '#/components/schemas/Rijbewijs'
        vervoermiddel:
          type: array
          items:
            $ref: '#/components/schemas/MPVervoermiddel'
        flexibiliteit:
          $ref: '#/components/schemas/Flexibiliteit'
        werktijden:
          $ref: '#/components/schemas/Werktijden'
        cursus:
          type: array
          items:
            $ref: '#/components/schemas/Cursus'
        opleiding:
          type: array
          items:
            $ref: '#/components/schemas/MPOpleiding'
        gedragscompetentie:
          type: array
          items:
            $ref: '#/components/schemas/Gedragscompetentie'
        vakvaardigheid:
          type: array
          items:
            $ref: '#/components/schemas/Vakvaardigheid'
        taalbeheersing:
          type: array
          items:
            $ref: '#/components/schemas/Taalbeheersing'
      required:
      - idVacature
    Vacature:
      type: object
      additionalProperties: false
      properties:
        idVacature:
          $ref: '#/components/schemas/IDVacature'
        naamVacature:
          $ref: '#/components/schemas/String120'
        nummerVacature:
          $ref: '#/components/schemas/String11'
        omschrijvingVacature:
          $ref: '#/components/schemas/String2000'
        codeWerkEnDenkniveauMinimaal:
          type: string
          enum:
          - '0'
          - '1'
          - '2'
          - '3'
          - '4'
          - '5'
          - '6'
          - '7'
        indicatieLdrRegistratie:
          type: integer
          enum:
          - 1
          - 2
        sluitingsdatumVacature:
          $ref: '#/components/schemas/Date'
        sollicitatiewijze:
          type: array
          items:
            $ref: '#/components/schemas/Sollicitatiewijze'
        werkgever:
          $ref: '#/components/schemas/Werkgever'
        sector:
          $ref: '#/components/schemas/SectorBeroepsEnBedrijfsleven'
        arbeidsVoorwaarden:
          $ref: '#/components/schemas/ArbeidsVoorwaarden'
        contractvorm:
          type: array
          items:
            $ref: '#/components/schemas/Contractvorm'
        beroep:
          $ref: '#/components/schemas/Beroepsnaam'
        werkervaring:
          type: array
          items:
            $ref: '#/components/schemas/Werkervaring'
        rijbewijs:
          type: array
          items:
            $ref: '#/components/schemas/Rijbewijs'
        vervoermiddel:
          type: array
          items:
            $ref: '#/components/schemas/Vervoermiddel'
        flexibiliteit:
          $ref: '#/components/schemas/Flexibiliteit'
        werktijden:
          $ref: '#/components/schemas/Werktijden'
        cursus:
          type: array
          items:
            $ref: '#/components/schemas/Cursus'
        opleiding:
          type: array
          items:
            $ref: '#/components/schemas/Opleiding'
        gedragscompetentie:
          type: array
          items:
            $ref: '#/components/schemas/Gedragscompetentie'
        vakvaardigheid:
          type: array
          items:
            $ref: '#/components/schemas/Vakvaardigheid'
        taalbeheersing:
          type: array
          items:
            $ref: '#/components/schemas/Taalbeheersing'
      required:
      - idVacature
    MPVacature:
      type: object
      properties:
        beroep:
          $ref: '#/components/schemas/beroep_selectie'
        codeWerkEnDenkNiveauMinimaal:
          $ref: '#/components/schemas/codeWerkEnDenkNiveauMinimaal_selectie'
        rijbewijs:
          $ref: '#/components/schemas/rijbewijs_selectie'
        selectiegebied:
          $ref: '#/components/schemas/selectiegebied_selectie'
        taalbeheersing:
          $ref: '#/components/schemas/taalbeheersingen_selectie'
        werktijden:
          $ref: '#/components/schemas/werktijden_selectie'
      required:
      - selectiegebied
    beroep_selectie:
      type: object
      properties:
        beroepsnaamGecodeerd:
          $ref: '#/components/schemas/beroepsnaamGecodeerd_selectie'
    beroepsnaamGecodeerd_selectie:
      type: object
      properties:
        codeBeroepsnaam:
          $ref: '#/components/schemas/codeBeroepsnaam_selectie'
    codeBeroepsnaam_selectie:
      type: object
      properties:
        $eq:
          $ref: '#/components/schemas/codeBeroepsnaam'
    codeBeroepsnaam:
      $comment: De code van het beroep volgens het UWV Beroepen & Opleidingen Register
      type: string
      pattern: ^[0-9]{1,10}$
    codeWerkEnDenkNiveauMinimaal_selectie:
      oneOf:
      - $comment: Onbekende properties worden door maar 1 oneOf keuze toegestaan
        type: object
        additionalProperties: false
        properties:
          $gte:
            $ref: '#/components/schemas/codeWerkEnDenkNiveau_choice'
          $lt:
            type: string
            const: '7'
        required:
        - $lt
      - type: object
        properties:
          $eq:
            type: string
            const: '7'
          $lt: false
    codeWerkEnDenkNiveau_choice:
      $comment: Dit is een beperkte keuze voor gebruik in de selectie.
      type: string
      enum:
      - '1'
      - '2'
      - '3'
      - '4'
      - '5'
      - '6'
    rijbewijs_selectie:
      type: object
      properties:
        $all:
          type: array
          items:
            $ref: '#/components/schemas/codeSoortRijbewijs_match'
          minItems: 1
    codeSoortRijbewijs_match:
      type: object
      properties:
        $elemMatch:
          properties:
            codeSoortRijbewijs:
              $ref: '#/components/schemas/codeSoortRijbewijs_selectie'
          type: object
    codeSoortRijbewijs_selectie:
      type: object
      properties:
        $eq:
          $ref: '#/components/schemas/codeSoortRijbewijs'
    codeSoortRijbewijs:
      type: string
      enum:
      - A
      - A1
      - A2
      - AM
      - B
      - B+
      - C1
      - C
      - D1
      - D
      - BE
      - C1E
      - CE
      - D1E
      - DE
      - T
    selectiegebied_selectie:
      type: object
      properties:
        afstand:
          $ref: '#/components/schemas/Integer1000'
        postcode:
          $ref: '#/components/schemas/Postcode'
      required:
      - afstand
      - postcode
    taalbeheersingen_selectie:
      type: object
      properties:
        $all:
          items:
            $ref: '#/components/schemas/taalbeheersing_match'
          minItems: 1
          type: array
    taalbeheersing_match:
      type: object
      properties:
        $elemMatch:
          $ref: '#/components/schemas/taalbeheersing_selectie'
    taalbeheersing_selectie:
      type: object
      properties:
        codeNiveauTaalbeheersingMondeling:
          $ref: '#/components/schemas/codeNiveauTaalbeheersing_selectie'
        codeNiveauTaalbeheersingSchriftelijk:
          $ref: '#/components/schemas/codeNiveauTaalbeheersing_selectie'
        codeTaal:
          $ref: '#/components/schemas/codeTaal_selectie'
      required:
      - codeTaal
    codeNiveauTaalbeheersing_choice:
      $comment: Dit is een beperkte keuze voor gebruik in de selectie.
      type: integer
      enum:
      - 2
      - 3
      - 4
    codeNiveauTaalbeheersing_selectie:
      type: object
      properties:
        $gte:
          $ref: '#/components/schemas/codeNiveauTaalbeheersing_choice'
    codeTaal_selectie:
      type: object
      properties:
        $eq:
          $ref: '#/components/schemas/TaalCode3'
    werktijden_selectie:
      type: object
      properties:
        aantalWerkurenPerWeekMaximaal:
          $ref: '#/components/schemas/aantalWerkurenPerWeekMaximaal_selectie'
        aantalWerkurenPerWeekMinimaal:
          $ref: '#/components/schemas/aantalWerkurenPerWeekMinimaal_selectie'
    aantalWerkurenPerWeekMaximaal_selectie:
      type: object
      properties:
        $gte:
          $ref: '#/components/schemas/aantalWerkuren'
    aantalWerkurenPerWeekMinimaal_selectie:
      type: object
      properties:
        $lte:
          $ref: '#/components/schemas/aantalWerkuren'
    aantalWerkuren:
      type: integer
      maximum: 99
      minimum: 1
    Beroepsnaam:
      oneOf:
      - $ref: '#/components/schemas/BeroepsnaamGecodeerd'
      - $ref: '#/components/schemas/BeroepsnaamOngecodeerd'
    Werkervaring:
      type: object
      additionalProperties: false
      properties:
        aantalJarenWerkzaamInBeroep:
          $ref: '#/components/schemas/Integer2'
    Opleidingsnaam:
      oneOf:
      - $ref: '#/components/schemas/OpleidingsnaamGecodeerd'
      - $ref: '#/components/schemas/OpleidingsnaamOngecodeerd'
    MPOpleidingsnaam:
      oneOf:
      - $ref: '#/components/schemas/OpleidingsnaamGecodeerd'
      - $ref: '#/components/schemas/MPOpleidingsnaamOngecodeerd'
    BeroepsnaamGecodeerd:
      type: object
      additionalProperties: false
      properties:
        beroepsnaamGecodeerd:
          type: object
          additionalProperties: false
          properties:
            codeBeroepsnaam:
              $ref: '#/components/schemas/codeBeroepsnaam'
            omschrijvingBeroepsnaam:
              $ref: '#/components/schemas/String120'
    BeroepsnaamOngecodeerd:
      type: object
      additionalProperties: false
      properties:
        beroepsnaamOngecodeerd:
          type: object
          additionalProperties: false
          properties:
            naamBeroepOngecodeerd:
              $ref: '#/components/schemas/String120'
    OpleidingsnaamGecodeerd:
      type: object
      additionalProperties: false
      properties:
        opleidingsnaamGecodeerd:
          type: object
          additionalProperties: false
          properties:
            codeOpleidingsnaam:
              $ref: '#/components/schemas/Integer10AsString'
            omschrijvingOpleidingsnaam:
              $ref: '#/components/schemas/String120'
    OpleidingsnaamOngecodeerd:
      type: object
      additionalProperties: false
      properties:
        opleidingsnaamOngecodeerd:
          type: object
          additionalProperties: false
          properties:
            naamOpleidingOngecodeerd:
              $ref: '#/components/schemas/String120'
            omschrijvingOpleiding:
              $ref: '#/components/schemas/String2000'
    MPOpleidingsnaamOngecodeerd:
      type: object
      additionalProperties: false
      properties:
        opleidingsnaamOngecodeerd:
          type: object
          additionalProperties: false
          properties:
            naamOpleidingOngecodeerd:
              $ref: '#/components/schemas/String120'
    Gedragscompetentie:
      type: object
      additionalProperties: false
      properties:
        codeGedragscompetentie:
          type: string
          enum:
          - '24100'
          - '24101'
          - '24102'
          - '24104'
          - '24105'
          - '24106'
          - '24107'
          - '24108'
          - '24109'
          - '24110'
          - '24111'
          - '24112'
          - '24113'
          - '24114'
          - '24115'
          - '24116'
          - '24118'
          - '24119'
          - '24120'
          - '24121'
          - '24122'
          - '24123'
          - '24124'
          - '24125'
          - '24126'
        omschrijvingGedragscompetentie:
          type: string
          enum:
          - "Beslissen en activiteiten initi\xEBren"
          - Aansturen
          - Begeleiden
          - Aandacht en begrip tonen
          - Samenwerken en overleggen
          - Ethisch en integer handelen
          - Relaties bouwen en netwerken
          - "Overtuigen en be\xEFnvloeden"
          - Presenteren
          - Formuleren en rapporteren
          - Vakdeskundigheid toepassen
          - Materialen en middelen inzetten
          - Analyseren
          - Onderzoeken
          - Creeren en innoveren
          - Leren
          - Plannen en organiseren
          - Op de behoeften en verwachtingen van de klant richten
          - Kwaliteit leveren
          - Instructies en procedures opvolgen
          - Omgaan met verandering en aanpassen
          - Met druk en tegenslag omgaan
          - Gedrevenheid en ambitie tonen
          - Ondernemend en commercieel handelen
          - Bedrijfsmatig handelen
        codeBeheersingGedragscompetentie:
          type: integer
          enum:
          - 1
          - 2
          - 3
          - 4
          - 5
          - 9
    Werktijden:
      type: object
      additionalProperties: false
      properties:
        aantalWerkurenPerWeekMinimaal:
          $ref: '#/components/schemas/Integer2'
        aantalWerkurenPerWeekMaximaal:
          $ref: '#/components/schemas/Integer2'
        indicatieKantoortijden:
          $ref: '#/components/schemas/Indicatie'
    Mobiliteit:
      type: object
      properties:
        bemiddelingspostcode:
          $ref: '#/components/schemas/Postcode'
        maximaleReisafstand:
          $ref: '#/components/schemas/Integer1000'
      required:
      - bemiddelingspostcode
      - maximaleReisafstand
    Flexibiliteit:
      type: object
      additionalProperties: false
      properties:
        codeRegiostraal:
          maximum: 9
          minimum: 1
          type: integer
        indicatieOnregelmatigWerkOfPloegendienst:
          $ref: '#/components/schemas/Indicatie'
        datumAanvangBeschikbaarVoorWerk:
          $ref: '#/components/schemas/Date'
        datumEindeBeschikbaarVoorWerk:
          $ref: '#/components/schemas/Date'
    Rijbewijs:
      type: object
      additionalProperties: false
      properties:
        codeSoortRijbewijs:
          $ref: '#/components/schemas/codeSoortRijbewijs'
    Opleiding:
      type: object
      additionalProperties: false
      properties:
        codeNiveauOpleiding:
          type: integer
          enum:
          - 1
          - 2
          - 3
          - 4
          - 5
          - 6
          - 9
        indicatieDiploma:
          type: integer
          enum:
          - 0
          - 1
          - 2
          - 8
        opleidingsnaam:
          $ref: '#/components/schemas/Opleidingsnaam'
    MPOpleiding:
      type: object
      additionalProperties: false
      properties:
        codeNiveauOpleiding:
          type: integer
          enum:
          - 1
          - 2
          - 3
          - 4
          - 5
          - 6
          - 9
        indicatieDiploma:
          type: integer
          enum:
          - 0
          - 1
          - 2
          - 8
        opleidingsnaam:
          $ref: '#/components/schemas/MPOpleidingsnaam'
    Cursus:
      type: object
      additionalProperties: false
      properties:
        naamCursus:
          $ref: '#/components/schemas/String120'
    SectorBeroepsEnBedrijfsleven:
      type: object
      additionalProperties: false
      properties:
        codeSbi:
          $ref: '#/components/schemas/Integer5'
    Vakvaardigheid:
      type: object
      additionalProperties: false
      properties:
        omschrijving:
          $ref: '#/components/schemas/String120'
    Taalbeheersing:
      type: object
      additionalProperties: false
      properties:
        codeTaal:
          $ref: '#/components/schemas/TaalCode3'
        codeNiveauTaalbeheersingMondeling:
          $ref: '#/components/schemas/IntegerTaal'
        codeNiveauTaalbeheersingSchriftelijk:
          $ref: '#/components/schemas/IntegerTaal'
        codeNiveauTaalbeheersingLezen:
          $ref: '#/components/schemas/IntegerTaal'
        codeNiveauTaalbeheersingLuisteren:
          $ref: '#/components/schemas/IntegerTaal'
    Vervoermiddel:
      type: object
      additionalProperties: false
      properties:
        indicatieBeschikbaarVoorUitvoeringWerk:
          $ref: '#/components/schemas/Indicatie'
        indicatieBeschikbaarVoorWoonWerkverkeer:
          $ref: '#/components/schemas/Indicatie'
        codeVervoermiddel:
          type: integer
          enum:
          - 1
          - 2
          - 3
          - 4
          - 5
          - 9
    MPVervoermiddel:
      type: object
      additionalProperties: false
      properties:
        indicatieBeschikbaarVoorUitvoeringWerk:
          $ref: '#/components/schemas/Indicatie'
        indicatieBeschikbaarVoorWoonWerkverkeer:
          $ref: '#/components/schemas/Indicatie'
    Emailadres:
      $ref: '#/components/schemas/String320'
    Telefoonnummer:
      $ref: '#/components/schemas/String14'
    ContactpersoonAfdeling:
      type: object
      additionalProperties: false
      properties:
        naamContactpersoonAfdeling:
          $ref: '#/components/schemas/String35'
        telefoonnummer:
          type: array
          items:
            $ref: '#/components/schemas/Telefoonnummer'
        emailadres:
          type: array
          items:
            $ref: '#/components/schemas/Emailadres'
    Webadres:
      type: object
      additionalProperties: false
      properties:
        codeWebadres:
          type: integer
          enum:
          - 1
          - 2
          - 3
          - 4
        url:
          $ref: '#/components/schemas/URL'
    Contractvorm:
      type: object
      additionalProperties: false
      properties:
        codeTypeArbeidscontract:
          type: string
          enum:
          - B
          - O
        codeTypeOvereenkomst:
          type: string
          enum:
          - '01'
          - '02'
          - '03'
          - '04'
    Sollicitatiewijze:
      type: object
      additionalProperties: false
      properties:
        codeSollicitatiewijze:
          type: string
          enum:
          - '1'
          - '2'
          - '3'
          - '4'
        webadres:
          $ref: '#/components/schemas/Webadres'
    MPSollicitatiewijze:
      type: object
      additionalProperties: false
      properties:
        codeSollicitatiewijze:
          type: string
          enum:
          - '1'
          - '2'
          - '3'
          - '4'
    Werkgever:
      type: object
      additionalProperties: false
      properties:
        handelsnaamOrganisatie:
          $ref: '#/components/schemas/String500'
        webadres:
          type: array
          items:
            $ref: '#/components/schemas/Webadres'
        adresHouding:
          type: array
          items:
            $ref: '#/components/schemas/AdresHouding'
        contactpersoon:
          type: array
          items:
            $ref: '#/components/schemas/ContactpersoonAfdeling'
        sector:
          type: array
          items:
            $ref: '#/components/schemas/SectorBeroepsEnBedrijfsleven'
    MPWerkgever:
      type: object
      additionalProperties: false
      properties:
        adresHouding:
          type: array
          items:
            $ref: '#/components/schemas/MPAdresHouding'
        sector:
          type: array
          items:
            $ref: '#/components/schemas/SectorBeroepsEnBedrijfsleven'
    ArbeidsVoorwaarden:
      type: object
      additionalProperties: false
      properties:
        datumAanvangWerkzaamheden:
          $ref: '#/components/schemas/Date'
        datumEindeWerkzaamheden:
          $ref: '#/components/schemas/Date'
        omschrijvingArbeidsvoorwaarden:
          $ref: '#/components/schemas/String2000'
        salarisIndicatie:
          $ref: '#/components/schemas/String100'
    MPArbeidsVoorwaarden:
      type: object
      additionalProperties: false
      properties:
        datumAanvangWerkzaamheden:
          $ref: '#/components/schemas/Date'
        datumEindeWerkzaamheden:
          $ref: '#/components/schemas/Date'
        salarisIndicatie:
          $ref: '#/components/schemas/String100'
    AdresHouding:
      type: object
      additionalProperties: false
      properties:
        codeFunctieAdres:
          type: string
          enum:
          - B
          - W
          - C
          - L
          - A
          - V
          - E
        datumAanvangAdres:
          $ref: '#/components/schemas/Date'
        datumEindeAdres:
          $ref: '#/components/schemas/Date'
        adres:
          oneOf:
          - $ref: '#/components/schemas/AdresNederland'
          - $ref: '#/components/schemas/AdresBuitenland'
    AdresNederland:
      type: object
      additionalProperties: false
      properties:
        adresNederland:
          type: object
          additionalProperties: false
          properties:
            codeGemeente:
              $ref: '#/components/schemas/StringCode4'
            district:
              $ref: '#/components/schemas/String24'
            gemeentedeel:
              $ref: '#/components/schemas/String24'
            gemeentenaam:
              $ref: '#/components/schemas/String40'
            identificatiecodeNummeraanduiding:
              $ref: '#/components/schemas/String16'
            identificatiecodeVerblijfplaats:
              $ref: '#/components/schemas/String16'
            locatieomschrijving:
              $ref: '#/components/schemas/String70'
            postcode:
              $ref: '#/components/schemas/Postcode'
            woonplaatsnaam:
              $ref: '#/components/schemas/String80'
            adresDetails:
              oneOf:
              - $ref: '#/components/schemas/Straatadres'
              - $ref: '#/components/schemas/Postbusadres'
              - $ref: '#/components/schemas/Antwoordnummeradres'
    Straatadres:
      type: object
      additionalProperties: false
      properties:
        straatadres:
          type: object
          additionalProperties: false
          properties:
            aanduidingBijHuisnummer:
              $ref: '#/components/schemas/StringCode2'
            huisletter:
              $ref: '#/components/schemas/StringCode1'
            huisnummer:
              $ref: '#/components/schemas/Integer5'
            huisnummertoevoeging:
              $ref: '#/components/schemas/String6'
            naamOpenbareRuimte:
              $ref: '#/components/schemas/String80'
            straatnaam:
              $ref: '#/components/schemas/String24'
            woonbootverwijzing:
              type: string
              const: AB
            woonwagenverwijzing:
              type: string
              const: WW
    Postbusadres:
      type: object
      additionalProperties: false
      properties:
        postbusadres:
          type: object
          additionalProperties: false
          properties:
            postbusnummer:
              $ref: '#/components/schemas/Integer5'
    Antwoordnummeradres:
      type: object
      additionalProperties: false
      properties:
        antwoordnummeradres:
          type: object
          additionalProperties: false
          properties:
            antwoordnummer:
              $ref: '#/components/schemas/Integer5'
    AdresBuitenland:
      type: object
      additionalProperties: false
      properties:
        adresBuitenland:
          type: object
          additionalProperties: false
          properties:
            landencodeIso:
              $ref: '#/components/schemas/StringCode2'
            landsnaam:
              $ref: '#/components/schemas/String40'
            locatieomschrijvingBuitenland:
              $ref: '#/components/schemas/String70'
            postcodeBuitenland:
              $ref: '#/components/schemas/String9'
            regionaamBuitenland:
              $ref: '#/components/schemas/String24'
            woonplaatsnaamBuitenland:
              $ref: '#/components/schemas/String40'
            adresDetailsBuitenland:
              oneOf:
              - $ref: '#/components/schemas/StraatadresBuitenland'
              - $ref: '#/components/schemas/PostbusadresBuitenland'
    StraatadresBuitenland:
      type: object
      additionalProperties: false
      properties:
        straatadresbuitenland:
          type: object
          additionalProperties: false
          properties:
            huisnummerBuitenland:
              $ref: '#/components/schemas/String9'
            straatnaamBuitenland:
              $ref: '#/components/schemas/String24'
    PostbusadresBuitenland:
      type: object
      additionalProperties: false
      properties:
        postbusadresbuitenland:
          type: object
          additionalProperties: false
          properties:
            postbusnummerBuitenland:
              $ref: '#/components/schemas/String9'
    MPAdresHouding:
      type: object
      additionalProperties: false
      properties:
        codeFunctieAdres:
          type: string
          enum:
          - B
          - W
          - C
          - L
          - A
          - V
          - E
        adres:
          $ref: '#/components/schemas/MPAdresBuitenland'
    MPAdresBuitenland:
      type: object
      additionalProperties: false
      properties:
        adresBuitenland:
          type: object
          additionalProperties: false
          properties:
            landencodeIso:
              $ref: '#/components/schemas/StringCode2'
    String320:
      maxLength: 320
      type: string
    Indicatie:
      enum:
      - 0
      - 1
      - 2
      type: integer
    Integer2:
      maximum: 99
      minimum: 0
      type: integer
    Integer5:
      maximum: 99999
      minimum: 0
      type: integer
    Integer1000:
      maximum: 999
      minimum: 0
      type: integer
    Integer10AsString:
      maxLength: 10
      type: string
      pattern: ^[0-9]+$
      example: '9999999999'
    IntegerTaal:
      type: integer
      enum:
      - 0
      - 1
      - 2
      - 3
      - 4
      - 8
    StringCode:
      maxLength: 10
      type: string
    StringCode1:
      maxLength: 1
      type: string
    StringCode2:
      maxLength: 2
      type: string
    StringCode3:
      maxLength: 3
      type: string
    StringCode4:
      maxLength: 4
      type: string
    TaalCode3:
      $comment: This does not exclude the special codes, B-codes and reserved range
        of ISO-639
      type: string
      pattern: ^[a-z]{3}$
    URL:
      type: string
      format: url
    String6:
      maxLength: 6
      type: string
    String9:
      maxLength: 9
      type: string
    String16:
      maxLength: 16
      type: string
    String24:
      maxLength: 24
      type: string
    String40:
      maxLength: 40
      type: string
    String70:
      maxLength: 70
      type: string
    String80:
      maxLength: 80
      type: string
    String100:
      maxLength: 100
      type: string
    String200:
      maxLength: 200
      type: string
    String120:
      maxLength: 120
      type: string
    String500:
      maxLength: 500
      type: string
    String2000:
      maxLength: 2000
      type: string
    String11:
      maxLength: 11
      type: string
    String14:
      maxLength: 14
      type: string
    String35:
      maxLength: 35
      type: string
    Date:
      type: string
      format: date
    Postcode:
      pattern: ^[0-9]{4}[a-zA-Z]{2}$
      type: string
      example: 1234AB
    Error:
      type: object
      properties:
        code:
          $ref: '#/components/schemas/StringCode'
        message:
          $ref: '#/components/schemas/String500'
        details:
          $ref: '#/components/schemas/String2000'
      required:
      - code
      - message
  requestBodies:
    VacatureMatchesRequest:
      content:
        application/json:
          schema:
            required:
            - vraagObject
            type: object
            properties:
              vraagObject:
                $ref: '#/components/schemas/MPVacature'
      required: true
